* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

.form-image {
  width: 100%;
  height: auto;
}
i {
  cursor: pointer;
}
.user-generated-form {
  border-bottom: 2px solid red;
  color: blue;
  font-style: italic;
  cursor: pointer;
  font-size: 25px;
}
#head-title {
  padding: 20px;
  font-size: 28px;
  color: gray;
}
#search {
  border: none;
  background-color: whitesmoke;
  outline: none;
  padding: 10px;
}
#user-pic img {
  border-radius: 50%;
  width: 100%;
  height: auto;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
#row1 {
  background-color: white;
}
.row-2 {
  background-color: whitesmoke;
}
.plus-icon {
  font-size: 46px;
}
#newform-col {
  padding: 20px;
}
.row-3 {
  background-color: white;
}
#file-text {
  font-size: 25px;
}
#plusbtn {
  font-size: 46px;
  color: #08c;
  background-color: white;
  padding: 30px;
  cursor: pointer;
}
#formtitle {
  border: none;
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: 21px; 
}
#generated-form-title{text-transform: capitalize;}
#formtitle::placeholder{font-size: 20px;}
#formdescription {
  border: none;
  width: 100%;
  padding: 10px;
  background-color: whitesmoke;
  outline: none;
}
#form-add-question-field {
  border: none;
  padding: 15px;
  outline: none;
  width: 100%;
  font-size: 20px;
}
#form-add-question-field::placeholder {
  color: black;
  font-size: 17px; color: gray;
}
#form-add-answer-field {
  border: none;
  padding: 15px;
  outline: none;
  border-bottom: 2px solid gray;
  width: 100%;
}
#form-select-answer-type-dropdown {
  color: black;
  background-color: white;
  width: 30%;
  padding: 17px;
  border: none;
  outline: none;
}
.add {
  position: absolute;
  top: 32%;
  left: 91%;
}
.plus {
  position: absolute;
  top: 24%;
  left: 91%;
}
#logout-btn {
  margin-left: 28px; margin-top: 10px;
}
#form{
  width: 600px;
  height: 600px;
  position: absolute;
  top: 10%; left: 30%;
  background-color: whitesmoke; text-align: center;
}
#form input{width: 80%; margin-top: 15px; padding: 5px;}
.remove-input-coloumn{
  display: flex; justify-content: center; align-items: center; cursor: pointer;
}
.form-label{font-size: 18px; padding-top: 6px; text-transform: lowercase;}
.form-label::first-letter{text-transform: capitalize;}
.cptl-txt{text-transform: capitalize;}
#link-box{
  width: 40%; height: 40vh; position: absolute; background-color: whitesmoke;
  top: 16%; left: 30%; display: flex; justify-content: center; 
  text-align: center; flex-direction: column; font-size: 20px;
}
.update-ques-field{
  border: none; outline: none; font-size: 21px; 
}

/* ant css */
.ant-input{padding: 8px !important;}
.ant-form-item-label{padding: 7px !important;}
